@model aereolinia.Models.Empleado

@{
    ViewData["Title"] = "Details";
}

<div>
    <span style="font-size:20px; text-align:center; ">
        <dt class="list-group-item active">
            Detalles del los empleados
        </dt>
    </span>
    <dl class="list-group">
        <dt class="list-group-item">
            @Html.DisplayNameFor(model => model.TypeEmpleado)
        </dt>
        <dd class="list-group-item">
            @Html.DisplayFor(model => model.TypeEmpleado.Name)
        </dd>
        <dt class="list-group-item">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="list-group-item">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="list-group-item">
            @Html.DisplayNameFor(model => model.Last_Name)
        </dt>
        <dd class="list-group-item">
            @Html.DisplayFor(model => model.Last_Name)
        </dd>
    </dl>
</div>
<div>
    <a type="button" class="btn btn-success" asp-action="Index">Volver atras </a> |
    <a type="button" class="btn btn-danger" asp-action="Edit" asp-route-id="@Model.EmpleadoID">Editar</a>

</div>
